<tr id="<%= shop.id %>">
  <td><%= @shops.index(shop) + 1 %></td>
  <td><%= link_to shop.name, shop %></td>
  <td><%= link_to "Edit", shop, method: :edit %></td>
  <td><%= link_to "Delete", shop, remote: true, method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
