<h1>Shops</h1>

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each.with_index(1) do |shop, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= shop.name %></td>
        <td><%= link_to "Edit", edit_shop_path(shop) %></td>
        <td><%= link_to "Destroy", shop, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New shop", new_shop_path %>
