<h1><%= @shop.display_name %></h1>

  <td><%= link_to "Edit", @shop, method: :edit %></td>
  <td><%= link_to "Delete", @shop, method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>

<h2>Books from this shop:</h2>
<ol>
  <% @shop.books.each do |book| %>
  <li><%= book.title %> (<%= link_to book.author_name, book.author %>)</li>
  <% end %>
</ol>

<br />
