<div>
  <%= render 'shared/error_messages', object: @author %>

  <%= form_with model: @author, local: true do |form| %>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>

    <%= form.submit "Submit" %>
  <% end %>
</div>
