<header class="navbar navbar-expand-lg navbar-fixed-top navbar-inverse navbar-light bg-light">
  <nav class="navbar ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="navbar-toggler-icon"></span>
    </button> <a class="navbar-brand" href="/">Ebookly</a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Books', books_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Shops', shops_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Authors', authors_path, class: 'nav-link' %>
        </li>
      </ul>
      <%= form_tag(search_index_path, method: :get, class: 'form-inline') do %>
        <%= text_field_tag :query, params[:query], class: 'form-control mr-sm-2'  %>
        <%= submit_tag 'Search', name: nil, class: 'btn btn-primary my-2 my-sm-0' %>
      <% end %>
    </div>
  </nav>
</header>
