<tr id="<%= book.id %>">
  <td><%= @books.index(book) + 1 %></td>
  <td><%= book.title %></td>
  <td><%= link_to book.author_name, book.author %></td>
  <td><%= link_to book.shop_name, book.shop %></td>
  <td><%= link_to "Edit", edit_book_path(book) %></td>
  <td><%= link_to "Delete", book, remote: true, method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
