<tr id="<%= book.id %>">
  <td><%= @books.index(book) + 1 %></td>
  <td><%= book.title %></td>
  <td><%= link_to book.author.display_name, book.author %></td>
  <td><%= link_to book.shop.display_name, book.shop %></td>
  <td><%= link_to "Edit", book, method: :edit %></td>
  <td><%= link_to "Delete", book, remote: true, method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
