<tr>
  <%= form_with(model: @book, id: 'book-form') do |f| %>
    <td></td>
    <td><%= f.text_field :title %></td>
    <td><%= f.collection_select(:author_id, @authors, :id, :display_name) %></td>
    <td><%= f.collection_select(:shop_id, @shops, :id, :display_name) %></td>
    <td><%= f.submit "Submit" %></td>
    <td></td>
  <% end %>
</tr>
