<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>Author</th>
      <th>Shop</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each.with_index(1) do |book, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= book.title %></td>
        <td><%= book.author.last_name %>, <%= book.author.first_name %></td>
        <td><%= book.shop.name %></td>
        <td><%= link_to "Edit", edit_book_path(book) %></td>
        <td><%= link_to "Destroy", book, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New book", new_book_path %>
