<!DOCTYPE html>
<html>
  <head>
    <title>Ebookly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <%= render 'shared/header' %>

          <div class="jumbotron">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
